body{
    background-image: url('bground_img.jpg');
    background-repeat: no-repeat;
    background-size: 100%;   
}
.topnav {
  position:relative;
  top:0%;
  overflow: hidden;
  background-color:  rgb(80, 170, 200);
}

.topnav a {
  float: right;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
 background-color: #ddd;
}

.topnav a.active {
  background-color:rgb(13, 84, 131);
  color: white;
}
div{
    padding: 100px 100px 30px 100px;
    text-align: center;
    
}
img{
    box-shadow:3px 10px 5px ;
}
h1{
    text-align: center;
    color: rgb(80, 170, 200);
    font-family:  Arial, sans-serif;
    position: relative;
}
input{
background-color:rgb(80, 170, 200);
color: #ddd;
position:relative;
left: 45%;
bottom: 10px;
border-radius:10px;
width: 80px;
height: 30px;
}